body {

    display: flex;

    flex-direction: column;

    @media(min-width: $breakpoint-sm) {
        flex-direction: row;
    }

}

aside {

    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    @media(min-width: $breakpoint-sm) {
        height: 100vh;
    }
}

aside#identity-pane {

    width: calc(100% - 2rem);
    border-bottom: 1px solid #dedede;
    padding: 1rem;
    background: repeating-linear-gradient( 45deg, #efefef, #efefef 1px, #ffffff 2px, #ffffff 10px );

    @media(min-width: $breakpoint-sm) {
        width: 240px;
        border-right: 1px solid #dedede;
        padding: 0;
        padding-top: 2.5rem;
    }
}

aside#data-pane {

    width: calc(100% - 2rem);
    padding: 1rem;
    border-top: 1px solid #dedede;

    @media(min-width: $breakpoint-sm) {
        width: 480px;
        padding: 1rem;
        border-left: 1px solid #dedede;
    }

    #list {
        padding-bottom: 3rem;
    }
}

main {


	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
    padding: 1rem;
    width: calc(100% - 2rem);
    
    @media(min-width: $breakpoint-sm) {
        height: 100vh;
        overflow: hidden;
        padding-top: 3rem;
        width: calc(100% - 680px - 2rem - 2px);
    }
    
    section {
        position: relative;
        // display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;

        .block {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media(min-width: $breakpoint-sm) {
                align-items: flex-start;
            }
            
            
        
            margin: 1.5rem 0 0 0;
            

            button {
                margin-bottom: 1.5rem;
            }

            &.bordered {
                border: 1px solid #dedede;
                padding: 1.5rem;
            }

        }  

        #spinner {
            padding: .5rem;
        }
    }
}


.block {

    padding: .75rem;
    text-align: center;

    @media(min-width: $breakpoint-sm) {
        text-align: left;
        max-width: 480px;
    }

}

#contractor_select_list {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;

    @media(min-width: $breakpoint-sm) {
        max-width: calc(480px + 3rem);
    }
    
    li {

        width: 100%;
        border: 1px solid #dedede;
        margin: .75rem;
        padding: .75rem;
        cursor: pointer;

        @media(min-width: $breakpoint-sm) {
            flex: 1;
            width: auto;
        }

        &:hover {
            background: black;
            border-color: black;
            color: white;
        }

        &:first-of-type {
            @media(min-width: $breakpoint-sm) {
                margin-left: 0;
            }
        }

        &:last-of-type {

            @media(min-width: $breakpoint-sm) {
                margin-right: 0;
            }
        }

        label {
            text-transform: lowercase;
            font-style: italic;
        }

        span {
            padding: 0 .25rem;
            border-right: 1px solid black;

            &:last-of-type {
                border: none;   
            }   
        }
    }
}