select {
    display: inline;
    text-align: center;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    border: none;
    // mmmmmm
    margin-bottom: -4rem;


    option {
        display: inline;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: auto;
        border: 1px solid black;
        border-radius: 4px;
        margin-right: .5rem;
    }
}


