.spinner {
  display: none;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 3.5rem auto;

    &.in_view {
      display: block;
    }
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 36px solid #dedede;
  border-color: #dedede transparent #dedede transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


/* Try that : */

/* 
*{
  border-radius: 100% !important;
}

<div class="loader5">
	<div class="spinner1">
		<div class="container-B">
			<div class="hex0"></div>
			<div class="hex120"></div>
			<div class="hex240"></div>
			<div class="spinner1">
				<div class="container-B">
					<div class="hex0"></div>
					<div class="hex120"></div>
					<div class="hex240"></div>
					<div class="spinner1">
						<div class="container-B">
							<div class="hex0"></div>
							<div class="hex120"></div>
							<div class="hex240"></div>
							<div class="spinner1">
								<div class="container-B">
									<div class="hex0"></div>
									<div class="hex120"></div>
									<div class="hex240"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
*/

// https://codepen.io/valentinfrancois/pen/VpebJj

.loader1, .loader2, .loader3, .loader4, .loader5, .loader6, .loader7, .loader8, .loader9, .loader10, .loader11, .loader12,
.loader13, .loader14, .loader15, .loader16, .loader17, .loader18, .loader19, .loader20, .loader21, .loader22, .loader23, .loader24{
	box-sizing:border-box;
	width:100px;
	height:100px;
	position:absolute;
}


// .loader5{
// 	left:900px;
// 	top:100px;
// }

.container-B{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}

.spinner1, .spinner2, .spinner3{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}

.spinner1{
	animation : rotation0 4s infinite linear, resize1 4s infinite linear;
}


.hex0, .hex120, .hex240{
	position:absolute;
	box-sizing:border-box;
	width:100%;
	height:57.74%;
	left:0;
	top:21.13%;
	border-left:1px solid black;
	border-right:1px solid black;
}



.hex0{
	animation:rotation0 4s infinite linear;
}

.hex120{
	transform:rotate(120deg);
	animation:rotation120 4s infinite linear;
}

.hex240{
	transform:rotate(240deg);
	animation:rotation240 4s infinite linear;
}

@keyframes rotation0{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

@keyframes rotation120{
	0%{
		transform:rotate(120deg);
	}
	100%{
		transform:rotate(480deg);
	}
}

@keyframes rotation240{
	0%{
		transform:rotate(240deg);
	}
	100%{
		transform:rotate(600deg);
	}
}

@keyframes resize1{
	0%,50%,100%{
		width:100%;
		height:100%;
		left:0%;
		top:0%;
	}
	25%,75%{
		width:120%;
		height:120%;
		left:-10%;
		top:-10%;
	}
	12.5%,37.5%,62.5%,87.5%{
		width:70%;
		height:70%;
		left:15%;
		top:15%;
	}
}

@keyframes resize2{
	0%,33.33%,66.66%,100%{
		width:100%;
		height:100%;
		left:0%;
		top:0%;
	}
	16.66%,49.99%, 83.333%{
		width:70%;
		height:70%;
		left:15%;
		top:15%;
	}
}

@keyframes resize3{
	0%,16.66%,33.33%,50%,66.66%,83.33%,100%{
		width:100%;
		height:100%;
		top:0;
		left:0;
	}
	2.77%,19.44%,36.11%,52.77%,69.44%,86.11%{
		width:93.5%;
		height:93.5%;
		top:3.25%;
		left:3.25%;
	}
	5.55%,22.22%,38.88%,55.55%,72.22%,88.88%{
		width:84.4%;
		height:84.4%;
		top:7.8%;
		left:7.8%;
	}
	8.33%,25%,41.66%,58.33%,75%,91.66%{
		width:73.2%;
		height:73.2%;
		top:13.4%;
		left:13.4%;
	}
	11.11%,27.77%,44.44%,61.11%,77.77%,94.44%{
		width:84.4%;
		height:84.4%;
		top:7.8%;
		left:7.8%;
	}
	 13.88%,30.55%,47.22%,63.88%,80.55%,97.22%{
		width:93.5%;
		height:93.5%;
		top:3.25%;
		left:3.25%;
	}
}