form {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: calc(100% - 4rem);
    padding: 2rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
    border: 1px solid #ddd;

}

table form {
    flex-direction: row;
    padding: 0;
    width: 100%;
    border: none;
    justify-content: space-between;

        input {
            margin: 0;
            padding: 0;
            font-size: inherit;
            border-bottom: none;
            width: 100%;
           
        }
}

