html, body {
	margin: 0; 
	padding: 0; 
}

html {

	font-size: 90%;

	@media (min-width : $breakpoint-bax) {
		font-size: 100%;
	}
}

body {
	background: white;
	// padding-top: 60px;
	width: 100vw;
	overflow-x: hidden;
 }

.noscript { display: none; }

