nav {
    position: absolute;
    top: 0;
    left: 0;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style: none;

        li {
            padding: 0.25rem 1rem 0.25rem 0;
            // border-right: 1px solid black;
            // border-bottom: 1px solid black
        }
    }
}