body {

    display: flex;
    flex-direction: row;

}

aside {

    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

aside#identity-pane {

    width: 240px;
    border-right: 1px solid #dedede;
    padding-top: 2.5rem;
 //   background: repeating-linear-gradient( 45deg, #efefef, #efefef 1px, #ffffff 2px, #ffffff 10px );
}

aside#data-pane {

    width: 480px;
    padding: 1rem;
    border-left: 1px solid #dedede;
}

main {


	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
    padding-top: 3rem;
    padding: 1rem;
    width: calc(100% - 680px - 2rem - 2px);
    // border-right: 1px solid #dedede;
    height: 100vh;
    overflow: hidden;
    
    nav {
        position: relative;
        z-index: 102;
    }

    section {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // min-width: 600px;

        width: 100%;

        .block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
        
            margin: 1.5rem 0 0 0;
            

            button {
                margin-bottom: 1.5rem;
            }

            &.bordered {
                border: 1px solid #dedede;
                padding: 1.5rem;
            }
        }

        // &:first-of-type {

        //     margin-bottom: 3rem;
        // }

        #spinner {
            padding: 1.5rem;
        }

  
    }

   
   
}

// aside#marketplace-pane {

//     width: 14%;
//     border-right: 1px solid #dedede;
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     background: repeating-linear-gradient( -45deg, #efefef, #efefef 1px, #ffffff 2px, #ffffff 10px );

// }

// aside#network-pane {



//     width: calc(50% - 120px);
//     // border-right: 1px solid #ccc;
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     background-color: #ffffff;
//     background-image: radial-gradient(#dedede 0.7500000000000001px, #ffffff 0.7500000000000001px);
//     background-size: 12px 12px;
   

//     > div {
//         max-height: calc(100% - 4rem);
//         overflow-y: auto;
//     }
  
    
// }

.block {
    padding: .75rem;
    max-width: 480px;
}

#contractor_select_list {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: calc(480px + 3rem);
    
    li {

        flex: 1;
        border: 1px solid #dedede;
        margin: .75rem;
        padding: .75rem;
        cursor: pointer;

        &:hover {
            background: black;
            border-color: black;
            color: white;
        }

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}