@font-face {
    font-family: 'Operator Book';
    src: url("./fonts/OperatorMono-Book.otf");
    font-weight: normal;
    font-style: normal; 
}
  
  @font-face {
    font-family: 'Operator Medium';
    src: url("./fonts/OperatorMono-Medium.otf");
    font-weight: normal;
    font-style: normal; 
  }
  
  @font-face {
    font-family: 'Operator Light';
    src: url("./fonts/OperatorMono-Light.otf");
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'Operator Bold';
    src: url("./fonts/OperatorMono-Bold.otf");
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'Gotham Bold';
    src: url("./fonts/Gotham-Bold.otf");
    font-weight: bold;
    font-style: normal; 
  }

  @font-face {
    font-family: 'Gotham Book';
    src: url("./fonts/Gotham-Book.otf");
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'Gotham Light';
    src: url("./fonts/Gotham-Light.otf");
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'Gotham Condensed Light';
    src: url("./fonts/GothamCond-Light.otf");
    font-weight: normal;
    font-style: normal; 
  }