$lichtgrijs : rgb(230,230,230);
$lichtergrijs : rgb(236,236,236);
$middelgrijs : rgb(166,166,166);
$grijs : rgb(220,220,220);
$donkergrijs : rgb(100,100,100);
$zwart : rgb(51,51,51);
$wit : rgb(255,255,255);

$lichtgeel: rgb(255,224,99);
$geel: rgb(255,203,0);
$donkergeel: rgb(248,175,0);
$lichtoranje: rgb(242,145,0);
$oranje: rgb(237,114,3);
$lichtrood: rgb(231,78,15);
$rood:  rgb(229,50,18);
$donkerrood: rgb(209,10,17);
$lichtblauw: rgb(156,198,212);
$blauw: rgb(0,154,200);
$donkerblauw: rgb(0,111,157);
$navy: rgb(0,85,120);

$paars: rgb(184,21,112);

$lichtgroen: rgb(143,190,88);

