@mixin regular {
    font-family: "Operator Book";
    font-size: .75rem;
    line-height: 1.55;
}

@mixin digital {
    font-family: "Operator Light";
    font-size: .75rem;
    line-height: 1.33; 
}

@mixin display {
    font-family: "Operator Bold";
    font-size: 1.45rem;
    line-height: 1.125; 
}

// @mixin number {
//     font-family: "NotoSans SemiBold";
//     font-size: 3.2rem;
//     line-height: 1;
//     letter-spacing: -1px; 
// }

@mixin uppercase {
    font-family: "Gotham Light";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .75rem; 
}

body, input {
    @include regular;
}


  
label {
    @include uppercase;
}
    
  
  a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black; }

h1 {
    font-size: 1.6rem;
}

h3 {
    font-family: Gotham Bold;
    margin: 0;
}